{%- import 'cmake_common.j2' as cmake -%}
{%- include 'license_header.j2' %}

cmake_minimum_required(VERSION 3.14)
project({{name}} LANGUAGES C ASM)

include("nrf5")

add_executable(${CMAKE_PROJECT_NAME}
  "${NRF5_SDK_PATH}/examples/{{path}}/main.c"
)
nrf5_target(${CMAKE_PROJECT_NAME})
target_link_libraries(${CMAKE_PROJECT_NAME} PRIVATE
{%- for library in libraries %}
  {{ library }}
{%- endfor %}
)
